.userhead_cotainer {
  width: 100%;

  border: 1px solid var(--secondary-bg);
  border-radius: 10px;
  margin: 20px 0px;
  .info {
    display: flex;
    border-radius: 10px 10px 0px 0px;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    align-items: center;
    background-color: var(--secondary-bg);
    position: relative;
    padding: 10px;

    img {
      width: 80px;
      height: 80px;
      background-color: var(--secondary-bg);
      border-radius: 50%;
      margin: 0px 20px;
      margin-right: 0px;
      left: -5px;
      top: -15px;
      position: absolute;
      padding: 10px;
    }

    .head {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .names {
        margin-left: 100px;
        width: 45%;
      }

      h4 {
        color: var(--primary-text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .username {
        margin-top: 2px;
        font-size: 12px;
        color: var(--label-text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .followed {
        background-color: transparent;
        border: 1px solid var(--primary);
        color: var(--primary);
      }
    }
  }

  .content {
    padding: 20px;
    .statics {
      display: flex;
      gap: 20px;
      margin: 10px;
      div {
        text-align: center;
        span {
          font-size: 12px;
          color: var(--label-text);
        }
        h4 {
          font-size: 15px;
        }
      }
    }
    .overview {
      p {
        font-size: 15px;
      }
    }
  }
}
