@import "/src/styles";
.create_proposal_container {
  padding: 16px 16px 0;

  h2 {
    font-size: $font-size-xxxlg;
    margin-bottom: 0.5rem;
  }
  h2,
  label {
    color: var(--primary-text);
  }

  label {
    font-size: 15px;
  }

  .input_container {
    margin: 4px 0;
    border: 1px solid var(--primary-border);
    border-radius: 0.5rem;
    height: 48px;
    font-size: 15px;

    &::placeholder {
      font-size: 15px;
    }

    .rich_text_editor {
      margin-top: -16px;
    }
  }

  .editor_content,
  .description {
    min-height: 300px !important;
  }

  .description {
    height: fit-content;
    padding: 8px;

    input[type="date"] {
      height: 200px;
    }
  }

  .error_message {
    font-size: $font-size-sm;
    height: 14px;
    color: var(--error);
    margin: 12px 0;
  }

  .amount_container {
    margin: 4px 0 24px;
    height: 48px;
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-border);
    border-radius: 8px;
    input {
      border: none !important;
      margin: 0;
    }

    .dropdown {
      max-width: 124px;
      width: fit-content;
      height: 32px;
      padding: 0 8px;
      border: 1px solid var(--primary-border);
      border-radius: 8px;
      margin-right: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      img {
        border-radius: 50%;
      }
      p {
        margin-right: 8px;
        font-size: 12px;
      }
    }
  }
  .proposal_btn {
    margin-left: calc(100% - 60px);
    margin-top: 0.5rem;
    padding: 8px !important;
    background: var(--tertiary-bg) !important;
    color: var(--primary) !important;
    font-size: 14px !important;
    cursor: pointer;

    &:hover {
      background: var(--tertiary-bg) !important;
      color: var(--primary) !important;
      opacity: 0.95;
    }

    @include lessThan(md) {
      margin-left: 0;
      width: 100%;
      height: 40px;
    }
  }
}

.ant-picker {
  background: transparent !important;
  border: 1px solid var(--primary-border) !important;
  padding: 12px !important;

  input {
    color: var(--primary-text) !important;

    &::placeholder {
      color: var(--label-text) !important;
    }
  }

  svg {
    color: var(--primary);
  }
}
