@import "/src/styles";
.actions {
  display: flex;
  justify-content: space-between;

  // justify-content: space-between;
  width: 83%;
  min-width: 335px;
  margin: 0 auto;
  // margin-top: 16px;
  padding-top: 16px;
  // @include lessThan(xl) {
  //   margin-left: 0;
  // }
  @include lessThan(xl) {
    gap: 12px;
    width: 100%;
  }
  @include lessThan(lg) {
    gap: 1rem;
    width: 100%;
  }
  @include lessThan(md) {
    gap: 1rem;
    min-width: 300px;
    width: 80%;
    margin: 0;
  }
  @include lessThan(sm) {
    gap: 1rem;
    min-width: 300px;
    width: 95%;
  }
  @media only screen and (max-width: 350px) {
    gap: 0.4rem;
  }
  a {
    .comments {
      display: flex;
      align-items: center;
      gap: 5px;
      svg {
        @include lessThan(xl) {
          width: 14px;
          height: 14px;
        }
      }
      span {
        font-size: $font-size-xsm;
        color: var(--light-tx) !important;
        @include lessThan(xl) {
          font-size: $font-size-xsm;
        }
      }
      color: var(--primary-text);
      cursor: pointer;
      transition: color 0.3s ease;
      &:hover {
        color: var(--primary) !important;
        svg {
          path {
            stroke: var(--primary);
          }
        }
      }
    }
  }

  .other,
  .share {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--primary-text);
    cursor: pointer;
    transition: color 0.3s ease;
    svg {
      @include lessThan(xl) {
        width: 14px;
        height: 14px;
      }
    }
    span {
      font-size: $font-size-xsm;
      color: var(--light-tx) !important;
      @include lessThan(xl) {
        font-size: $font-size-xxsm;
      }
    }

    &:hover {
      color: var(--primary) !important;
      svg {
        path {
          stroke: var(--primary);
        }
      }
    }
  }

  // .comments,
  // .save,
  // .share,
  // a {
  //   min-width: 50px
  //   display: flex;
  //   align-items: center;
  //   // flex-wrap: wrap;

  //   // color: var(--light-tx) !important;

  //   span {
  //     font-size: 12px;
  //     color: var(--light-tx) !important;
  //   }
  //   // svg {
  //   //   // color: var(--light-tx);
  //   //   path {
  //   //     stroke: var(--black);
  //   //   }
  //   // }
  //   color: var(--primary-text);
  //   // color: var(--light-tx);
  //   cursor: pointer;
  //   transition: color 0.3s ease;

  //   // &:hover {
  //   //   color: var(--primary) !important;
  //   //   svg {
  //   //     path {
  //   //       stroke: var(--primary);
  //   //     }
  //   //   }
  //   // }
  // }

  // .save {
  //   width: 52px;
  // }

  .share {
    width: 60px;
  }

  .up_down {
    display: flex;
    align-items: center;
    gap: 8px;
    span {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: $font-size-xsm;
      @include lessThan(xl) {
        font-size: $font-size-xxsm;
      }
    }
    @include lessThan(sm) {
      gap: 0.5rem;
    }
    svg {
      cursor: pointer;
      @include lessThan(xl) {
        width: 14px;
        height: 14px;
      }
      path {
        &:first-child {
          fill: transparent;
          opacity: 1;
        }
      }
      &:hover {
        color: var(--primary);
        path {
          &:first-child {
            fill: var(--primary);
            opacity: 0;
          }
        }
      }
    }

    .active {
      color: var(--primary);
      path {
        &:first-child {
          fill: var(--primary);
          opacity: 1;
        }
      }
    }
  }
}
