@import "/src/styles";
.actions {
  display: flex;
  justify-content: space-between;

  // justify-content: space-between;

  width: 80%;
  margin: auto;
  margin-top: 16px;
  @include lessThan(xl) {
    margin-left: 0;
  }

  @include lessThan(lg) {
    gap: 1.5rem;
  }
  @include lessThan(sm) {
    gap: 1rem;
  }

  a {
    .comments {
      display: flex;
      align-items: center;
      gap: 5px;
      span {
        font-size: 12px;
        color: var(--light-tx) !important;
      }
      color: var(--primary-text);
      cursor: pointer;
      transition: color 0.3s ease;
      &:hover {
        color: var(--primary) !important;
        svg {
          path {
            stroke: var(--primary);
          }
        }
      }
    }
  }

  .other,
  .share {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--primary-text);
    cursor: pointer;
    transition: color 0.3s ease;
    span {
      font-size: 12px;
      color: var(--light-tx) !important;
    }

    &:hover {
      color: var(--primary) !important;
      svg {
        path {
          stroke: var(--primary);
        }
      }
    }
  }

  // .comments,
  // .save,
  // .share,
  // a {
  //   min-width: 50px
  //   display: flex;
  //   align-items: center;
  //   // flex-wrap: wrap;

  //   // color: var(--light-tx) !important;

  //   span {
  //     font-size: 12px;
  //     color: var(--light-tx) !important;
  //   }
  //   // svg {
  //   //   // color: var(--light-tx);
  //   //   path {
  //   //     stroke: var(--black);
  //   //   }
  //   // }
  //   color: var(--primary-text);
  //   // color: var(--light-tx);
  //   cursor: pointer;
  //   transition: color 0.3s ease;

  //   // &:hover {
  //   //   color: var(--primary) !important;
  //   //   svg {
  //   //     path {
  //   //       stroke: var(--primary);
  //   //     }
  //   //   }
  //   // }
  // }

  // .save {
  //   width: 52px;
  // }

  .share {
    width: 60px;
  }

  .up_down {
    display: flex;
    align-items: center;
    gap: 5px;
    span {
      font-size: 12px;
    }
    svg {
      cursor: pointer;
      path {
        &:first-child {
          fill: transparent;
          opacity: 1;
        }
      }
      &:hover {
        color: var(--primary);
        path {
          &:first-child {
            fill: var(--primary);
            opacity: 0;
          }
        }
      }
    }

    .active {
      color: var(--primary);
      path {
        &:first-child {
          fill: var(--primary);
          opacity: 1;
        }
      }
    }
  }
}
