@import "/src/styles";
.ant-modal-content {
  background-color: var(--secondary-bg) !important;
  color: var(--primary-text) !important;
  padding: 10px !important;
  .ant-modal-header {
    background: transparent !important;
    .ant-modal-title {
      color: var(--primary-text) !important;
      margin-bottom: 16px;
    }
  }
  .ant-modal-close {
    color: var(--black) !important;
    @include lessThan(md) {
      top: 5px !important;
      width: 18px;
    }
  }
  // button {
  //   color: var(--black) !important;
  // }
}

.ant-divider {
  color: var(--primary-border) !important;
  border-block-start: var(--primary-border) !important;
}
.ant-tabs {
  .ant-tabs-tab-remove {
    color: var(--primary) !important;
    &:active {
      color: var(--primary) !important;
    }
  }
  .ant-tabs-tab-btn {
    &:active {
      color: var(--primary) !important;
    }
  }
  .ant-tabs-nav {
    &::before {
      border-bottom: 0px !important;
    }
  }
  .ant-tabs-nav-list {
    .ant-tabs-tab {
      color: var(--label-text) !important;
      min-width: 70px;
      display: flex;
      justify-content: center;
      margin: 0 16px 0 0 !important;
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: var(--primary) !important;
        &:active {
          color: var(--primary) !important;
        }
      }
    }
  }
  .ant-tabs-ink-bar {
    background: var(--primary) !important;
  }
  .ant-tabs-content-holder {
    color: var(--primary-text) !important;
  }
}

.ant-popover {
  margin: 10px !important;

  .ant-popover-content {
    .ant-popover-inner {
      padding: 5px !important;
      background-color: var(--secondary-bg);
      .ant-popover-inner-content {
        color: var(--primary-text);
      }
    }
  }
  .ant-popover-arrow::before {
    background: var(--secondary-bg);
    display: none;
  }
}

// sidebar
.ant-menu {
  background: transparent !important;
  height: 100% !important;
  // border-color: red !important;
  border-style: solid;
  border-width: 0 !important;
  border-right-width: 0px !important;
  .ant-menu-item {
    padding-left: 24px !important;
    color: var(--primary-text) !important;
    // opacity: 0.8 !important;
    border-radius: 0px !important;
    &:hover {
      background-color: var(--tertiary-bg) !important;
    }
    .ant-menu-title-content {
      margin-left: 0.8rem;
      flex: none !important;
      font-size: $font-size-sm;
      color: var(--primary-text);
      font-weight: $font-weight-semi-bold;
      @include lessThan(md) {
        font-size: $font-size-xsm;
      }
    }
    svg {
      width: 30px;
      @include lessThan(md) {
        width: 18px;
      }
      @include lessThan(sm) {
        width: 16px;
      }
    }
  }
  .ant-menu-submenu {
    .ant-menu-submenu-title {
      .ant-menu-title-content {
        font-size: $font-size-xlg;
        color: var(--primary-text);
        font-weight: $font-weight-semi-bold;
        @include lessThan(md) {
          font-size: $font-size-md;
        }
      }
    }
    ul {
      li {
        border-radius: 0px !important;
      }
    }
    svg {
      width: 30px;
    }
  }
  .ant-menu-item-selected {
    background-color: var(--secondary-bg) !important;
  }
  .ant-menu-item-divider {
    border-color: var(--divider) !important;
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
  }
}
.ant-menu-root {
  overflow-y: scroll !important;
  // border-right: 1px solid var(--primary-border) !important;
}

.ant-notification-notice-wrapper {
  background-color: var(--secondary-bg) !important;

  .ant-notification-notice-message {
    color: var(--primary-text) !important;
    text-transform: capitalize !important;
  }
  .ant-notification-notice-description {
    color: var(--label-text) !important;
  }
}

.ant-empty-image {
  opacity: 0.3 !important;
}
.ant-empty-description {
  color: var(--label-text) !important;
  opacity: 0.5 !important;
}

//ant tree

// .comments {
//   .ant-tree-treenode {
//     padding: 0px;
//   }
//   .ant-tree,
//   .ant-tree-node-selected {
//     background-color: var(--primary-bg);

//     color: var(--secondary-text);

//     .ant-tree-indent-unit,
//     .ant-tree-indent-unit-start {
//       border-inline-end: none;
//       visibility: hidden;
//     }

//     .ant-tree-show-line {
//       .ant-tree-indent-unit {
//         &::before {
//           left: 11px;
//           top: 11px;
//           border-inline-end: none;
//         }
//       }
//     }
//   }
//   .ant-tree-treenode,
//   .ant-tree-treenode-switcher-close,
//   .ant-tree-treenode-switcher-open {
//     .ant-tree-node-content-wrapper .ant-tree-node-content-wrapper-normal {
//       width: 100% !important;
//     }
//     width: 100%;
//     &::after {
//       content: "";
//       height: 100%;
//       position: absolute;
//       left: 11px;
//       top: 18px;
//       border-inline-end: none;
//     }
//   }
//   .ant-tree-node-content-wrapper .ant-tree-node-content-wrapper-normal {
//     width: 100% !important;
//   }
//   .ant-tree .ant-tree-node-content-wrapper {
//     width: 100% !important;
//   }
//   .ant-tree-indent-unit {
//     &::before {
//       border-inline-end: none;
//     }
//   }

//   .ant-tree-switcher_close {
//     top: 18px;
//     .ant-tree-indent {
//       .ant-tree-indent-unit {
//         visibility: visible;
//         &::before {
//           border-inline-end: 1px solid var(--secondary-text);
//         }
//       }
//     }
//   }
//   .ant-tree-switcher_open {
//     top: 18px;
//     &::after {
//       content: "";
//       height: 100%;
//       position: absolute;
//       left: 12px;
//       top: 17px;
//       // border-inline-end: 1px solid var(--secondary-text);
//       border-left: 1px solid var(--secondary-text);
//       border-bottom: 1px solid var(--secondary-text);
//       width: 17px;
//     }
//   }

//   .ant-tree-indent-unit-start {
//     &::before {
//       left: 17px;
//       // top: 11px !important;
//       bottom: 25px;
//       border-inline-end: 1px solid var(--secondary-text) !important;
//     }
//   }
//   .ant-tree-node-selected {
//     background: transparent !important;
//   }
//   .ant-tree-indent-unit {
//     border-inline-end: none;
//   }
//   .ant-tree-switcher-leaf-line {
//     left: 6px;
//     &::before {
//       border-inline-end: 1px solid var(--secondary-text) !important;
//     }
//   }
//   .ant-tree-switcher-leaf-line {
//     &::before {
//       display: none;
//     }
//     &::after {
//       border-bottom: 1px solid var(--secondary-text) !important;
//       display: none;
//     }
//   }
//   .ant-tree-switcher-line-icon {
//     // vertical-align: 0.85em !important;
//     // position: relative;
//     // left: 5px;
//     // top: -1px;
//   }

//   .ant-tree-switcher_close {
//     span,
//     .ant-tree-switcher-line-icon {
//       &::before,
//       &::after {
//         display: none !important;
//       }
//     }
//   }
//   .ant-tree-switcher {
//     top: 15px !important;
//   }
//   // .ant-tree-switcher-noop {
//   //   &::after {
//   //     display: none;
//   //   }
//   // }
// }

.comments {
  .ant-tree-treenode,
  .ant-tree-treenode-switcher-close,
  .ant-tree-treenode-switcher-open {
    width: 100%;
    position: relative;
    padding: 0;

    &::after {
      content: "";
      height: 100%;
      position: absolute;
      left: 11px;
      top: 18px;
      border-inline-end: none;
    }

    .ant-tree-node-content-wrapper-normal,
    .ant-tree-node-content-wrapper {
      width: 100% !important;
    }
  }

  .ant-tree,
  .ant-tree-node-selected {
    background-color: var(--primary-bg);
    color: var(--secondary-text);
    border-inline-end: none;

    .ant-tree-indent-unit,
    .ant-tree-indent-unit-start {
      border-inline-end: none;
    }

    .ant-tree-show-line {
      .ant-tree-indent-unit::before {
        left: 11px;
        top: 11px;
        border-inline-end: none;
      }
    }
  }

  .ant-tree-switcher {
    top: 18px;

    &::after {
      content: "";
      height: 100%;
      position: absolute;
      left: 17px;
      top: 4px;
      border-inline-end: 1px solid var(--secondary-text);
    }
  }

  .ant-tree-indent-unit-start::before {
    left: 17px;
    bottom: 25px;
    border-inline-end: 1px solid var(--secondary-text) !important;
  }

  .ant-tree-node-selected {
    background: transparent !important;
  }

  .ant-tree-switcher-leaf-line {
    left: 6px;
    height: 88% !important;
    &::before,
    &::after {
      border-color: var(--secondary-text) !important;
    }

    &::before {
      border-inline-end: 1px solid;
      top: 0px !important;
      bottom: -17px !important;
    }

    &::after {
      border-bottom: 1px solid;
      height: 0px !important;
    }
  }

  .ant-tree-switcher-line-icon {
    vertical-align: 0.85em !important;
    position: relative;
    background: var(--primary-bg);
    left: 5px;
    top: -8px;
    z-index: 1;
  }

  .ant-tree-treenode-leaf-last {
    .ant-tree-switcher_close {
      &::after {
        visibility: hidden;
      }
    }
    .ant-tree-switcher-noop {
      visibility: visible;

      .ant-tree-switcher-leaf-line {
        &::before {
          visibility: hidden;
        }
      }
    }
  }

  .ant-tree-switcher_open {
    top: 18px;
    &::after {
      content: "";
      height: 100%;
      position: absolute;
      left: 17px;
      top: 5px;
      border-inline-end: none;
      border-left: 1px solid var(--secondary-text);
      border-bottom: 1px solid var(--secondary-text);
      width: 25px;
    }
  }
  .ant-tree-switcher-noop {
    &::after {
      display: none;
    }
  }
  .ant-tree-switcher_close {
    top: 18px;
    .ant-tree-indent {
      .ant-tree-indent-unit {
        visibility: visible;
        // &::before {
        //   border-inline-end: 1px solid var(--secondary-text);
        // }
      }
    }
  }
  .ant-tree-indent-unit {
    visibility: hidden;
  }
}

//modal
.ant-modal-mask {
  z-index: 100 !important;
}

.ant-modal-wrap {
  z-index: 200 !important;
}
