.ant-modal-content {
  background-color: var(--secondary-bg) !important;
  color: var(--primary-text) !important;
  button {
    color: var(--black) !important;
  }
}

.ant-divider {
  color: var(--primary-border) !important;
  border-block-start: var(--primary-border) !important;
}
