.ant-modal-content {
  background-color: var(--secondary-bg) !important;
  color: var(--primary-text) !important;
  button {
    color: var(--black) !important;
  }
}

.ant-divider {
  color: var(--primary-border) !important;
  border-block-start: var(--primary-border) !important;
}
.ant-tabs {
  .ant-tabs-nav {
    &::before {
      border-bottom: 0px !important;
    }
  }
  .ant-tabs-nav-list {
    .ant-tabs-tab {
      color: var(--label-text) !important;
      min-width: 70px;
      display: flex;
      justify-content: center;
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: var(--primary) !important;
      }
    }
  }
  .ant-tabs-ink-bar {
    background: var(--primary) !important;
  }
  .ant-tabs-content-holder {
    color: var(--primary-text) !important;
  }
}

.ant-popover {
  margin: 10px !important;

  .ant-popover-content {
    .ant-popover-inner {
      padding: 5px !important;
      background-color: var(--secondary-bg) !important;
      .ant-popover-inner-content {
        color: var(--primary-text) !important;
      }
    }
  }
  .ant-popover-arrow::before {
    background: var(--secondary-bg) !important;
  }
}

// sidebar
.ant-menu {
  background: transparent !important;

  height: calc(100vh - 80px) !important;

  .ant-menu-item {
    padding-left: 24px !important;
    &:hover {
      background-color: var(--secondary-hov) !important;
    }
    .ant-menu-title-content {
      font-size: 15px !important;
      flex: none !important;
    }
  }
  .ant-menu-item-selected {
    background-color: var(--secondary-bg) !important;
  }
  .ant-menu-item-divider {
    border: 1px solid var(--secondary-bg) !important;
  }
}
.ant-menu-root {
  overflow-y: scroll !important;
  border-right: 1px solid var(--primary-border) !important;
}
