@import "/src/styles";
.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 2rem;
}
.communities {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.2rem;
  @include lessThan(md) {
    margin-bottom: 1rem;
  }
}

.card_container {
  width: 30%;
  min-width: 176px;
  // min-height: 220px;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--secondary-bg);
  cursor: pointer;

  @include lessThan(xl) {
    width: 45%;
  }
  @include lessThan(md) {
    min-height: 135px;
  }
  @include lessThan(sm) {
    width: 98%;
    margin: auto;
  }

  .photo_section {
    position: relative;
    min-height: 78px;
    height: fit-content;

    .cover_photo {
      width: 100%;
      height: 60px;
    }
    img {
      object-fit: cover;
    }

    .main_photo {
      position: absolute;
      border-radius: 50%;
      top: 36%;
      left: 16px;
      padding: 6px;
      background-color: var(--secondary-bg);
    }

    @include lessThan(xxl) {
      margin-bottom: 8px;
      .main_photo {
        top: 32px;
      }
      .cover_photo {
        height: 56px;
      }
    }

    @include lessThan(xl) {
      margin-bottom: 16px;
      .main_photo {
        top: 52px;
      }
      .cover_photo {
        height: 80px;
      }
    }

    @include lessThan(lg) {
      .main_photo {
        top: 52px;
      }
      .cover_photo {
        height: 80px;
      }
    }

    @include lessThan(md) {
      min-height: 10px;
      margin-bottom: 0px !important;
      .cover_photo {
        display: none;
        height: 0px;
      }
      .main_photo {
        top: 10px;
        left: 6px;
      }
    }
  }

  .content {
    padding: 0.5rem 0.75rem 0.75rem;
    color: var(--primary-text);

    .user_name {
      font-size: $font-size-md;
      font-weight: $font-weight-medium;
      color: var(--primary-text) !important;
    }
    .info {
      height: 37px;
      font-size: $font-size-xsm;
      color: var(--label-text);
      margin: 6px 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: $font-size-xsm;
        color: var(--label-text);

        span {
          color: var(--success) !important;
        }
      }

      button {
        width: fit-content;
        height: 28px;
        padding: 6px 8px !important;
        font-size: $font-size-xsm !important;
        background-color: var(--tertiary-bg) !important;
        color: var(--primary) !important;
      }
    }
    @include lessThan(md) {
      .username {
        margin-left: 3.5rem;
        font-size: $font-size-sm;
      }
      .info {
        margin-left: 3.5rem;
        min-height: 37px;
      }
      button {
        font-size: $font-size-xxsm !important;
      }
    }
  }
}
