.main_panel_container {
  flex: 2;
  max-width: 700px;
  min-width: 450px;
  padding: 30px;
  margin-left: 256px;
}
.wraper {
  width: 100%;
  margin: auto;
  display: flex;
  margin-top: 80px;
}
.pagewraper {
  position: relative;
}
