@import "/src/styles";
.main_panel_container {
  flex: 2;
  max-width: 756px;
  height: 100%;
  overflow-y: auto;
  min-width: 320px;
  padding: 20px;
  margin-left: calc((100vw - 1400px) / 2);

  @include lessThan(xxl) {
    margin-left: 0;
  }
  // @media (width < 700px) {
  //   margin-left: 200px;
  // }
  @include lessThan(sm) {
    padding: 10px 10px;
  }
}
.hidden_right_panel {
  margin-left: calc((100vw - 1000px) / 2);

  @include lessThan(lg) {
    margin-left: calc((100vw - 756px) / 2);
  }

  @include lessThan(md) {
    margin: auto;
  }
}
.wraper {
  width: 100%;
  margin: auto;
  display: flex;
  height: calc(100vh - 80px);
  margin-top: 80px;
}
.pagewraper {
  position: relative;
}

// .center {
//   display: flex;
//   width: 100%;
//   overflow: hidden;
//   @include lessThan(xxl) {
//     align-items: center;
//   }
// }
