@import "/src/styles";
.main_panel_container {
  flex: 2;
  max-width: 700px;
  overflow-y: scroll;
  min-width: 410px;
  padding: 20px;
  // @media (width < 700px) {
  //   margin-left: 200px;
  // }
  @include lessThan(sm) {
    padding: 20px 10px;
  }
}
.wraper {
  width: 100%;
  margin: auto;
  display: flex;
  height: calc(100vh - 80px);
  margin-top: 80px;
}
.pagewraper {
  position: relative;
}
