@import "/src/styles";

.user_ban_bx {
  margin-top: 2rem;
  background: #1f1f1f;
  border-radius: 8px;
  color: white;

  // .ant-modal-wrap {
  //   display: flex !important;
  //   justify-content: center !important;
  //   align-items: center !important;
  //   .removeModal {
  //     background-color: #1677ff !important;
  //   }
  // }
  .table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    h2 {
      font-size: 18px;
      margin: 0;
    }

    .ant-btn-primary {
      background-color: #1677ff;
      border: none;
    }
  }

  .ant-table {
    background-color: #000;
    border-radius: 8px;

    // .ant-table-row {
    //   &:hover .action-buttons {
    //     display: block !important;
    //   }
    // }
    .ant-table-thead > tr:first-child > *:first-child {
      border-start-start-radius: 0px !important;
    }
    .ant-table-thead > tr:first-child > *:last-child {
      border-start-end-radius: 0px !important;
    }
    .ant-table-thead > tr > th {
      background-color: var(--white) !important;
      color: white;
      border-bottom: 1px solid var(--primary-border) !important;
      &::before {
        background-color: var(--white) !important;
      }
    }

    .ant-table-tbody {
      background: var(--white) !important;
      color: var(--black) !important;
      .ant-table-placeholder {
        background: transparent !important;
      }
      .ant-table-row {
        .ant-table-cell-row-hover {
          background: var(--tertiary) !important;
        }
      }
    }
    .ant-table-tbody > tr > th {
    }

    .ant-table-tbody > tr > td {
      color: var(--black);
      border-bottom: 1px solid var(--primary-border) !important;
    }

    .ant-empty-description {
      color: gray;
    }

    .reason_bx {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;
      .action-buttons {
        display: flex;
        gap: 5px;
        height: 40px;
        // display: none;

        .unban_btn {
          // background-color: red;
          border-radius: 50%;
          padding: 10px;
          svg {
            width: 20px;
            height: 20px;
          }
          &:hover {
            background-color: var(--secondary-bg);
          }
        }

        .edit_btn {
          // background-color: var(--secondary-bg);
          border-radius: 50%;
          padding: 10px;
          svg {
            width: 20px;
            height: 20px;
          }

          &:hover {
            background-color: var(--secondary-bg);
          }
        }
      }
    }
  }
}

.removeModal {
  .ant-modal-content {
    .ant-modal-footer {
      .ant-btn-primary {
        background-color: var(--primary) !important;
        color: var(--white) !important;
        border-color: var(--primary) !important;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  .ant-btn-default {
    background-color: var(--primary-disable) !important;
    color: var(--black) !important;
    border-color: var(--primary-disable) !important;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #333 !important;
      color: white !important;
    }
  }
}
