@import "/src/styles";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
a:hover {
  color: inherit !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  border: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: transparent;
  border: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-bg);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-bg);
}

/* skeleton loader css */
.skeleton {
  background: linear-gradient(
    90deg,
    #414b50 20px,
    rgba(155, 155, 155, 0.9) 60px,
    #414b50 80px
  );

  background-size: 250%;
  background-position: 100% 0;
  min-height: 20px;
  width: 100%;
  animation: shimmer 3s infinite;
}
@keyframes shimmer {
  to {
    background-position: -100%;
  }
}
main {
  width: 100%;
}
/* 
.fr-wrapper:first-child {
  display: none !important;
}

.fr-placeholder {
  margin-top: 0px !important;
} */

.card {
  width: 394px;
  height: max-content;
  background-color: var(--secondary-bg);
  border-radius: $base-border-radius-md;
  padding: 12px 25px;
}
