@import "/src/styles";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
a:hover {
  color: inherit !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  border: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: transparent;
  border: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-bg);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-bg);
}

/* skeleton loader css */
.skeleton {
  background: linear-gradient(
    90deg,
    #414b50 20px,
    rgba(155, 155, 155, 0.9) 60px,
    #414b50 80px
  );

  background-size: 250%;
  background-position: 100% 0;
  min-height: 20px;
  width: 100%;
  animation: shimmer 3s infinite;
}
@keyframes shimmer {
  to {
    background-position: -100%;
  }
}
main {
  width: 100%;
}
/* 
.fr-wrapper:first-child {
  display: none !important;
}

.fr-placeholder {
  margin-top: 0px !important;
} */

.card {
  width: 394px;
  height: max-content;
  background-color: var(--secondary-bg);
  border-radius: $base-border-radius-md;
  padding: 12px 25px;
}

html,
body,
.dark,
main {
  background-color: var(--white);
  overflow: hidden;
}

.notfound_page,
.error_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92vh;
  padding: 1rem;

  svg {
    width: 600px;
    margin: 0 auto 1rem;
  }
  p {
    color: var(--primary-text);
    font-size: $font-size-xxlg;
    text-align: center;
    font-weight: $font-weight-medium;
  }
  button {
    width: max-content;
    padding: 10px;
    background: var(--primary);
    color: var(--white);
    font-weight: 600;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;
    margin: 1.5rem auto;
  }

  @include lessThan(sm) {
    svg {
      min-width: 240px;
      width: 92%;
    }
    p {
      font-size: $font-size-md;
    }
  }
}
nextjs-portal {
  display: none;
}
