* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  background-color: var(--body-bg);
  color: var(--primary-text);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  border: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: transparent;
  border: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-bg);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-bg);
}
