.tpost_container {
  .searchings {
    display: flex;

    align-items: center;
    gap: 10px;
    justify-content: end;
    input {
      width: 300px;
    }
    .cfilter_container {
      width: 125px;
    }
  }
  .filters {
    display: flex;

    align-items: center;
    gap: 10px;
  }
  .posts {
  }
}
