@import "/src/styles";
.nav_container,
.mobile_search_container {
  width: 100%;
  padding-left: 25px;
  height: 80px;
  background-color: var(--secondary-bg);
  // border-bottom: 1px solid var(--primary-border);
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  justify-content: space-between;
  align-items: center;
  .first_child {
    display: flex;
    flex: 0.65;
    gap: 0.5rem;
    div {
      a {
        h2 {
          color: var(--primary);
          margin: 10px;
          text-decoration: none;
          cursor: pointer;

          @include lessThan(lg) {
            margin-left: 40px;
          }
        }
      }
    }
    .logo {
      width: 260px;

      @include lessThan(xl) {
        width: 220px;
      }
    }
    .hidesearchbar {
      width: 64%;
      margin-right: 0;
    }

    @include lessThan(md) {
      .hidesearchbar {
        display: none;
      }
    }

    @include lessThan(lg) {
      width: fit-content;
      gap: 1rem;
      .logo {
        width: fit-content;
      }
    }
  }

  .signin {
    margin-inline: 1rem;
    flex: 0.35;
    max-width: 300px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;

    .user_actions {
      display: flex;
      gap: 1rem;
      align-items: center;

      .mobile_search_icon {
        display: none;
      }
    }

    @include lessThan(md) {
      margin-inline: 0.5rem;
      .user_actions {
        gap: 0.5rem !important;
        .ant-popover-open {
          margin: 0 !important;
        }

        .mobile_search_icon {
          display: block;
        }

        svg {
          width: 20px !important;
          height: 20px !important;
          fill: var(--black);
          path {
            stroke: var(--black);
          }
        }

        .user_icon {
          svg {
            margin: 0;
            width: 26px !important;
            height: 26px !important;
          }
        }
      }
    }

    margin-left: auto;
    .create_post {
      background-color: var(--tertiary-bg) !important;
      color: var(--primary) !important;
      outline: none;
      height: 40px;
      padding: 8px 10px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
      @include lessThan(md) {
        background-color: transparent !important;
        span {
          display: none;
        }
        padding: 5px !important;
      }
    }

    .notification {
      color: var(--primary-text);

      border-radius: 5px;
      cursor: pointer;
      &:hover {
        color: var(--tertiary-bg) !important;
      }
    }

    .user_icon {
      display: flex;
      align-items: center;
      .avatar {
        border-radius: 50%;
        padding: 5px;
        object-fit: cover;
        cursor: pointer;
        &:hover {
          background: var(--tertiary-bg);
        }
      }
      svg {
        cursor: pointer;
        color: var(--black);
        margin: 5px;
      }
    }
  }
}

.mobile_search_container {
  color: var(--primary-text) !important;
  padding: 0 0.75rem;
  z-index: 12;

  // display: none;
  // position: relative;
  svg {
    width: 20px !important;
    height: 20px !important;
    cursor: pointer;
  }

  // @include lessThan(md) {
  display: flex;
  .mobile_search {
    // width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    width: calc(100vw - 1.5rem);

    svg {
      width: 32px !important;
      height: 32px !important;
      color: var(--primary);
    }
  }
  // }
}

.login_modal {
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
    margin-bottom: 20px;
    h4 {
      font-size: 20px;
      margin: 0 0 20px;
    }
  }
  p {
    width: 100%;
    text-align: center;
    span {
      color: var(--primary);
    }
  }
}

.signUpModal {
  .back_btn {
    width: 7%;
  }

  .login {
    gap: 10px;
    button {
      margin: 0px !important;
    }
  }
  .login,
  .signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;

    h4 {
      font-size: 20px;
      margin: 0 0 20px;
    }
    input {
      margin: 12px 0 0;
      border-radius: 12px;
      padding: 10px;
      border: 1px solid var(--tertiary) !important;
      box-shadow: none !important;
      &:focus {
        border: 1px solid var(--primary-border) !important;
      }
    }
    .login_btn {
      height: 46px !important;
      border-radius: 12px;
    }
    .signup_btn {
      margin: 20px 0 0;
      height: 48px !important;
      border-radius: 12px !important;
      border: 1px solid var(--tertiary-border) !important;
      background-color: var(--secondary-bg) !important;
      color: var(--primary) !important;
      &:hover {
        background-color: var(--tertiary) !important;
        // color: var(--primary-text) !important;
      }
      &:disabled {
        background-color: var(--secondary-bg) !important;
        color: var(--label-text) !important;
        opacity: 0.9;
        cursor: not-allowed !important;
      }
    }

    p {
      width: 100%;
      text-align: center;
      span {
        color: var(--primary);
        cursor: pointer;
      }
    }

    // p {
    //   margin: 10px 0 0 10px;
    //   height: 16px;
    // }

    .error {
      color: var(--error);
      text-align: start;
    }

    .success {
      color: var(--success);
      text-align: start;
    }
  }

  display: flex;
  flex-direction: column;

  justify-content: center;

  width: 100%;
  padding: 10px;
  gap: 10px;
  input {
    background: transparent;
    border: 1px solid var(--primary-border);
    color: var(--primary-text);
    font-size: 18px;
    padding: 10px;
  }

  button {
    padding: 7px 15px;
    background-color: var(--primary);
    border: 0px;
    border-radius: 5px;
    color: var(--primary-text);
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      background-color: var(--primary-hover);
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.95;
    }
  }
}

.user_popover {
  width: 200px;
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    .text {
      display: flex;
      flex-direction: column;
      gap: -5px;
      .text_sub {
        color: var(--label-text);
      }
    }
    &:hover {
      background-color: var(--tertiary-bg);
    }
  }
}

//solan wallet

.eth_wallets,
.solana_wallets {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 1rem;
  .wallet {
    display: flex;
    gap: 10px;
    border: 1px solid var(--primary-border);
    margin-bottom: 10px;
    border-radius: 12px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: var(--tertiary-bg) !important;
    }
    img {
      border-radius: 10px;
    }
  }
}

.search_container {
  width: 100%;
  min-width: 240px;
  background: var(--tertiary-bg);
  border: none;
  border-radius: 4px;
  display: flex;
  position: relative;
  background-color: var(--secondary-bg);

  svg {
    width: 20px;
    height: 20px;
    color: var(--label-text);
  }

  .search_input {
    width: 100%;
    // width: 300px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background-color: var(--tertiary-bg);
    padding: 8px;
    // box-shadow: var(--card-shadow);

    input {
      border: none;
      height: 32px;
      width: fit-content;
      padding: 0 5px;
      background-color: transparent;
      color: var(--primary-text);
      font-size: 15px;
      width: 90%;

      &::placeholder {
        color: var(--label-text);
      }

      &:focus {
        outline: none;
      }
    }

    .close_icon {
      margin-left: auto;
      cursor: pointer;

      @include lessThan(md) {
        svg {
          width: 20px !important;
          height: 20px !important;
        }
      }
    }
  }

  .search_Suggestion {
    width: 100%;
    position: absolute;
    height: 48px;
    top: 50px;
    background-color: var(--secondary-bg);
    border-bottom: 1px solid var(--primary-border);
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 20px;
    cursor: pointer;
    // border-radius: 0 0 12px 12px;
    color: var(--label-text);
    font-size: 15px;

    @include lessThan(md) {
      font-size: $font-size-xsm;
      svg {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }

  .suggestions_list {
    max-height: 320px;
    width: 100%;
    position: absolute;
    top: 98px;
    overflow-y: scroll;
    list-style: none;
    margin: 0;
    position: absolute;
    background-color: var(--secondary-bg);
    border: none;
    border-radius: 0 0 12px 12px;
    box-shadow: var(--card-shadow);
    padding-bottom: 12px;

    h2 {
      font-size: $font-size-lg;
      padding: 8px 16px;
      margin: 8px 0;
      color: var(--primary-text);
    }

    li {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 8px 12px;
      cursor: pointer;
      border-radius: 12px;
      color: var(--primary-text);
      // border-bottom: 1px solid #ccc;

      span {
        font-size: 15px;
      }

      img {
        object-fit: cover;
        border-radius: 50%;
      }

      span:last-child {
        margin-left: auto;
      }

      &:hover {
        color: var(--primary);
        background-color: var(--tertiary-bg);
      }
    }

    .highlighted {
      color: var(--primary);
      background-color: var(--tertiary-bg);
    }

    @include lessThan(md) {
      li {
        span {
          font-size: $font-size-sm;
        }
      }
    }
  }
  .suggestions_list li.active {
    color: var(--primary);
    background-color: var(--tertiary-bg);
  }

  .user_pill {
    width: fit-content;
    height: 36px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--secondary-bg);
    color: var(--primary-text);
    padding: 4px 12px;
    border-radius: 16px;
    cursor: pointer;

    img {
      object-fit: cover;
      border-radius: 50%;
    }

    span {
      width: max-content;
    }
  }
}
.wallet_modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1.3rem;
  .accordion_bx {
    margin-top: 10px;
  }
  .ant-collapse {
    border: 1px solid var(--tertiary-bg);
    border-radius: 12px;
    padding: 5px 13px;
    margin-top: 1rem;
    background-color: var(--secondary-bg);
    .ant-collapse-item {
      .ant-collapse-header {
        .ant-collapse-expand-icon {
          color: var(--black);
        }
        .ant-collapse-header-text {
          color: var(--black);
        }
        .ant-collapse-extra {
        }
      }
      .ant-collapse-content {
        border-top: none;
        background-color: var(--secondary-bg);
        color: var(--black);

        .ant-collapse-content-box {
          padding: 0px 13px;
        }
      }
    }
  }

  button {
    padding: 7px 15px;
    background-color: var(--primary);
    border: 0px;
    border-radius: 5px;
    color: var(--primary-text);
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      background-color: var(--primary-hover);
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.95;
    }
  }
  p {
    width: 100%;
    text-align: center;
    span {
      color: var(--primary);
      cursor: pointer;
    }
  }
}
