@import "/src/styles";
.postcard_container {
  width: 100%;
  padding: 25px 30px;
  height: max-content;
  border-radius: $base-border-radius-md;
  background-color: var(--secondary-bg);
  margin-top: 2rem;
  color: var(--white);
  .user_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    div {
      display: flex;
      gap: 10px;
      align-items: center;

      .head {
        cursor: pointer;
        gap: 5px;
      }
      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: beige;
      }
      span {
        font-size: 12px;
        color: var(--primary-text);
      }
    }
    span {
      font-size: 10px;
      color: var(--label-text);
    }
  }

  .content {
    // p {
    //   font-size: 17px;
    //   text-align: left;
    //   word-spacing: 1px;
    //   margin: 10px 0px;
    // }
    margin: 12px 0;
    .post_image {
      position: relative;
      width: 100%;
      aspect-ratio: 1;
    }
    p {
      font-size: 15px;
      text-align: left;
      word-spacing: 1px;
      line-height: 1.2;
      margin-bottom: 4px;
    }
    li {
      margin: 4px 0;
      margin-left: 16px;
    }
  }

  .postMedia {
    margin: 10px 0px;
    width: 100%;
    height: 400px;
    // aspect-ratio: 3/2;
    // border: 1px solid var(--primary-border);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    .imgbg {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      filter: blur(15px);
    }
    .media {
      width: 100%;
      // height: 100%;
      object-fit: contain;
    }
  }

  .actions {
    display: flex;
    gap: 15px;
    margin-top: 8px;
    div,
    a {
      background-color: var(--secondary-bg);
      min-width: 50px;
      // height: 25px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      padding: 5px 20px;
      text-decoration: none;
      span {
        font-size: 12px;
      }
      color: var(--primary-text);
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: var(--tertiary-bg);
      }
    }
  }
}

.feedlist {
  // padding: 10px;
}

.filter_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100px;

  p {
    padding: 5px;
    cursor: pointer;
    &:hover {
      background-color: var(--tertiary-bg);
      border-radius: 5px;
    }
  }
}
.filter {
  div {
    width: 100px;
    padding: 5px 10px;
    background-color: var(--secondary-bg);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    svg {
      margin-top: 2px;
    }
  }
}
.tabs_list {
  display: flex;
  justify-content: space-between;
  color: var(--primary);
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      display: flex;
      gap: 5px;
      background: var(--black);
      padding: 12px 16px;
      margin-right: 1rem;
      border-radius: $base-border-radius-md;
      font-size: $font-size-xsm;
      border: 1px solid var(--tertiary-border);
      cursor: pointer;
      :hover {
        background-color: var(--primary);
      }
      @include lessThan(sm) {
        padding: 10px 9px;
        font-size: $font-size-xxsm;
      }
      @include lessThan(md) {
        padding: 10px 9px;
        font-size: $font-size-xsm;
      }
    }
  }
  .active {
    background: var(--secondary-bg);
    border: 2px solid var(--secondary-bg);
    :hover {
      background: var(--secondary-hover);
    }
  }
}
