.postcard_container {
  width: 100%;
  border-top: 1px solid var(--primary-border);
  padding: 10px;
  .user_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    div {
      display: flex;
      gap: 10px;
      align-items: center;

      .head {
        cursor: pointer;
        gap: 5px;
      }
      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: beige;
      }
      span {
        font-size: 12px;
        color: var(--primary-text);
      }
    }
    span {
      font-size: 10px;
      color: var(--label-text);
    }
  }

  .content {
    margin: 12px 0;
    cursor: pointer;
    .post_image {
      position: relative;
      width: 100%;
      aspect-ratio: 1;
    }
    p {
      font-size: 15px;
      text-align: left;
      word-spacing: 1px;
      line-height: 1.2;
      margin-bottom: 4px;
    }
    li {
      margin: 4px 0;
      margin-left: 16px;
    }
  }

  .actions {
    display: flex;
    gap: 15px;
    margin-top: 8px;
    div,
    a {
      background-color: var(--secondary-bg);
      min-width: 50px;
      // height: 25px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      padding: 5px 20px;
      text-decoration: none;
      span {
        font-size: 12px;
      }
      color: var(--primary-text);
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: var(--tertiary-bg);
      }
    }
  }
}

.feedlist {
  padding: 10px;
}

// Media component
.post_media {
  height: 400px;
  margin: 10px 0px;
  width: 100%;
  border: 1px solid var(--primary-border);
  border-radius: 10px;
  overflow: hidden;
  position: relative;

  .imgbg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(15px);
  }
  .media {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.expanded_view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;

  .expanded_media {
    margin-top: 5%;
    max-width: 90%;
    max-height: 90%;
    width: 90vw;
    object-fit: contain;
  }

  .imgbg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(15px);
  }

  .close_icon {
    width: 50px;
    height: 50px;
    position: absolute;
    padding: 10px 16px;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    background-color: var(--secondary-bg);
    border-radius: 40px;
  }
}
