@import "/src/styles";
.sidebar_container {
  // position: fixed;
  background-color: var(--secondary-bg);
  z-index: 1;
  width: 290px;
  height: 100%;
  transition: left ease-in-out 0.2s;
  // @media (width < 700px) {
  //   width: 200px;
  //   left: 0px;
  // }
  @include lessThan(sm) {
    position: absolute;
    left: -300px;
    width: 250px;
  }
}

.open {
  left: 0;
}

.hamburger {
  position: absolute;
  top: -55px;
  margin: 0px 15px;
  z-index: 11;
  display: none;
  color: var(--white);
  @include lessThan(sm) {
    display: block;
    width: 40px;
  }
}
.community_item {
  min-width: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .createText {
    color: var(--primary);
  }
}
.create_community_container {
  .avatar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100px;
    .label {
      font-size: 12px;
      color: var(--label-text);
    }
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      background: var(--secondary-bg);
    }
    .msg {
      position: absolute;
      right: -80px;
      bottom: 0px;
    }
    .upload {
      position: absolute;

      right: 0px;
      bottom: 0px;
      background: var(--secondary-bg);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer;
      svg {
        margin: 4px;
      }
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    .label {
      font-size: 12px;
      color: var(--label-text);
    }
    input {
      padding: 10px;
      background: transparent;
      border: 1px solid var(--primary-border);
      border-radius: 5px;
      color: var(--primary-text);
      outline: none;
    }

    textarea {
      resize: none;
      padding: 10px;
      background: transparent;
      border: 1px solid var(--primary-border);
      border-radius: 5px;
      color: var(--primary-text);
      outline: none;
    }
  }
  .btns {
    margin: 10px 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    .user_msg {
      position: absolute;
      left: 0px;
      color: var(--success);
    }
    .user_msg_error {
      position: absolute;
      left: 0px;
      color: var(--error);
    }

    p {
      height: 16px;
    }

    .error {
      color: var(--error);
    }

    .success {
      color: var(--success);
    }
  }
}
