.post_page {
  width: 100%;
  margin: auto;
}

.post_container,
.comment_item {
  .user_head {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    margin-bottom: 8px;
    img {
      border-radius: 50%;
    }
    a {
      color: var(--primary-text);
      transition: color 0.3s ease;
      &:hover {
        color: var(--primary);
      }
    }
    a,
    p {
      font-size: 15px;
    }
    .names {
      display: flex;
      flex-direction: column;
    }
    .post_time {
      margin-bottom: auto;
      color: var(--label-text);
    }
    .more {
      margin-left: auto;
      cursor: pointer;
    }
  }

  .content {
    margin: 12px 0 0 40px;
    .post_image {
      position: relative;
      width: 100%;
      aspect-ratio: 1;
    }
    p {
      font-size: 14px;
      text-align: left;
      word-spacing: 1px;
      line-height: 1.2;
      margin-bottom: 4px;
    }
    li {
      margin: 4px 0;
      margin-left: 16px;
    }
  }

  .actions {
    display: flex;
    gap: 16px;
    margin: 16px 0px 0 40px;
    div,
    a {
      background-color: var(--secondary-bg);
      height: 36px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      padding: 0px 12px;
      text-decoration: none;
      span {
        font-size: 12px;
      }
      color: var(--primary-text);
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: var(--tertiary-bg);
      }

      &:nth-child(1) {
        svg {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          padding: 8px;
          &:hover {
            background-color: var(--tertiary-bg);
          }
        }
        &:hover {
          background-color: var(--secondary-bg);
        }
      }
    }
  }
}

.comments {
  .comment_input {
    // position: relative;
    // width: 100%;
    // max-height: 200px; /* Example fixed height */
    // overflow-y: auto;
    // // border: 1px solid #ccc;
    // // padding: 10px;
    // box-sizing: border-box;

    padding: 8px;
    border: 1px solid var(--primary-border);
    border-radius: 8px;
    margin: 16px 0 16px 40px;

    .comment_image_wrapper {
      position: relative;
      display: inline-block;
      margin-top: 10px;

      .image_wrapper {
        // position: relative;
        width: 200px;
        height: 200px;
        margin-left: 20px;

        .img_bg {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -1;
          filter: blur(10px);
          // display: none;
        }
        .comment_img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      // img {
      //   border-radius: 4px;
      //   max-width: 100%;
      //   height: auto;
      //   object-fit: contain;
      // }
    }

    .comment_image_wrapper button.delete_image_button {
      position: absolute;
      top: 0;
      right: 0;
      background: none;
      border: none;
      cursor: pointer;
      padding: 5px;
      z-index: 10;
    }

    .comment_image_wrapper img {
      max-width: 200px;
      transition: opacity 0.3s ease-out;
    }

    .comment_image_wrapper.fade-out img {
      opacity: 0;
    }

    .image_loader {
      width: 200px;
      height: 200px;
    }

    // @keyframes fadeOut {
    //   0% {
    //     opacity: 1;
    //   }
    //   100% {
    //     opacity: 0;
    //   }
    // }
    .comment_controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 8px;
    }

    .comment_controls > div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;

      svg {
        padding: 8px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: var(--secondary-hov);
          box-shadow: var(--card-shadow);
        }
      }
    }
    .comment_btn {
      width: fit-content;
      height: 36px;
      border-radius: 16px !important;
      padding: 4px 12px !important;
      font-size: 14px !important;

      &:disabled {
        background-color: var(--primary);
        color: var(--primary-text);
      }
    }
  }
  .comment_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    .comment_item {
      position: relative;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 8px 0 0 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .comment_line {
        position: absolute;
        top: 0;
        left: 8px;
        bottom: 0;
        width: 1px;
        background-color: var(--black);
      }

      .user_head {
        position: relative;
        z-index: 1;
        .post_time {
          margin-top: auto;
        }
      }

      .comment_img {
        border-radius: 4px;
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }

      .nested_comments {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-left: 10px;
      }
    }
  }
}
