@import "/src/styles";
.communities {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  // column-gap: 1rem;
  // row-gap: 2rem;
  gap: 1.2rem;
}

.card_container {
  width: 200px;
  height: 220px;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--secondary-bg);

  .photo_section {
    position: relative;
    height: 78px;
    img {
      object-fit: cover;
    }

    .main_photo {
      position: absolute;
      border-radius: 50%;
      top: 24px;
      left: 16px;
      padding: 6px;
      background-color: var(--secondary-bg);
    }
  }

  .content {
    padding: 0.5rem 0.75rem 0.75rem;

    .user_name {
      font-size: $font-size-md;
      font-weight: $font-weight-medium;
    }
    .info {
      font-size: $font-size-xsm;
      color: var(--label-text);
      margin: 6px 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: $font-size-xsm;
        color: var(--label-text);

        span {
          color: var(--success) !important;
          // color: red !important;
        }
      }

      button {
        width: 52px;
        height: 28px;
        padding: 6px 12px !important;
        font-size: $font-size-xsm;
        background-color: var(--tertiary-bg) !important;
        color: var(--primary) !important;
      }
    }
  }
}
