@import "/src/styles";
.emoji-picker-container {
  position: relative;
  display: flex;
  align-items: center;

  svg {
    cursor: pointer;
    color: var(--secondary-text) !important;
    &:hover {
      color: var(--primary) !important;
    }
  }
}

// .picker-modal {
//   position: absolute;
//   width: 100%;
//   min-width: 320px;
//   max-width: 700px;
//   height: 360px;
//   z-index: 10;
//   top: -356px; // Default position (above the icon)
// }

.close-icon {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding: 5px;
  color: var(--light);
  position: absolute;
  z-index: 11;
  top: 0px;
  right: 0px;
  // top: 25px;
  // right: 5px;
}

.picker-modal {
  position: fixed;
  width: 360px;
  max-width: 100%;
  // height: 360px;
  background: var(--background); // Ensure it matches your theme
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000; // Ensure it's above other elements
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%); // Center the modal
  border: 1px solid var(--primary-border);
}
