@import "/src/styles";
.general_container {
  margin-bottom: 1rem;

  .addresses {
    padding: 14px 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid var(--tertiary-border);
    border-radius: 12px;
    margin-bottom: 1rem;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
    }
    gap: 10px;
    svg {
      width: 14px;
    }
    span {
      cursor: pointer;
      color: var(--black);
      font-size: $font-size-md;
      @include lessThan(md) {
        font-size: 9px;
      }
      &:hover {
        color: var(--primary-text);
      }
    }
  }

  .ant-collapse {
    border: 1px solid var(--tertiary-border);
    border-radius: 12px;
    padding: 5px 13px;
    margin-top: 1rem;
    .ant-collapse-item {
      .ant-collapse-header {
        @include lessThan(sm) {
          padding: 7px 10px;
        }
        .ant-collapse-expand-icon {
          display: none;
        }
        .ant-collapse-header-text {
          color: var(--primary);
          @include lessThan(md) {
            font-size: $font-size-xsm;
          }
        }
        .ant-collapse-extra {
        }
      }
      .ant-collapse-content {
        border-top: none;
        background-color: #101113;
        color: var(--black);

        .ant-collapse-content-box {
          padding: 0px 13px;
          @include lessThan(md) {
            padding: 0px 4px;
          }
        }
      }
    }
  }
}
.link_address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 12px;
  margin-bottom: 0.4rem;
  span {
    font-size: 18px;
    cursor: pointer;
    @include lessThan(md) {
      font-size: $font-size-xsm;
    }
    svg {
      @include lessThan(md) {
        width: 12px;
      }
    }
  }
}

.s_m_bx {
  padding: 14px 12px;
  display: flex;
  justify-content: unset;
  flex-direction: row;
  border: 1px solid var(--tertiary-border);
  border-radius: 12px;
  margin-bottom: 1rem;
  gap: 10px;
  @include lessThan(md) {
    padding: 10px 12px;
  }
  .u_bx {
    width: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 15px;
    .u_txt {
      font-size: $font-size-md;
      cursor: pointer;
      color: var(--black);
      @include lessThan(md) {
        font-size: $font-size-xxsm;
      }
    }
    span {
      cursor: pointer;
      svg {
        width: 14px;
        height: 14px;
        @include lessThan(md) {
          width: 12px;
        }
      }
    }
  }
}

.delegate_item {
  display: flex;
  border: 1px solid var(--tertiary-border);
  border-radius: 12px;
  margin-bottom: 1rem;
  padding: 12px;
  flex-wrap: wrap;
  align-items: center;

  p {
    &:nth-child(1) {
      flex: 0.35;
    }
    &:nth-child(2) {
      flex: 0.3;
    }
    &:nth-child(3) {
      flex: 0.35;
    }
  }
}

.delegate_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px;
  border: 1px solid var(--tertiary-border);
  border-radius: 12px;
  margin: 16px 0;
  .dropdown_with_search {
    width: 300px;
    .search_input {
      width: 100%;
    }
  }
}

.my_delegate {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.delegator_container {
  .d_head {
    color: var(--primary);
    margin: 12px 0;
  }
}

.delegate_loader {
  width: 100%;
  height: 56px;
  border-radius: 12px;
}
