.general_container {
  .linkAddress {
    border: 1px solid var(--primary-border);
    border-radius: 10px;
    margin-top: 10px;
    .header {
      display: flex;
      background-color: var(--secondary-bg);
      justify-content: space-between;
      padding: 10px;
      border-radius: 10px 10px 0px 0px;
    }
    .addresses {
      padding: 10px;
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      gap: 10px;
      span {
        cursor: pointer;
        color: var(--label-text);
        &:hover {
          color: var(--primary-text);
        }
      }
    }
  }
}
