@import "/src/styles";
.proposal_page_container {
  color: var(--primary-text);
  .proposal_content {
    h1 {
      color: var(--primary-title);
      font-weight: $font-weight-medium;
      font-size: $font-size-lg-3;
      @include lessThan(md) {
        font-size: $font-size-xxxlg;
      }
      @include lessThan(xs) {
        font-size: $font-size-xxlg;
      }
    }
    .proposal_section {
      background-color: var(--secondary-bg);
      border-radius: 1rem;
      padding: 1rem;
      margin: 1rem 0 0;
      color: var(--light-tx);
      @include lessThan(md) {
        padding: 10px;
      }
      .proposal_head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        h2 {
          color: var(--primary-title);
          font-weight: $font-weight-medium;
          font-size: $font-size-lg-2;
          @include lessThan(md) {
            font-size: $font-size-xxlg;
          }
          @include lessThan(xs) {
            font-size: $font-size-xlg;
          }
        }

        button {
          background-color: transparent !important;
          color: var(--primary-text) !important;
          border: 1px solid var(--primary-border) !important;
        }

        .active {
          background-color: var(--success) !important;
          border: none !important;
          @include lessThan(md) {
            font-size: 12px !important;
            height: 30px !important;
          }
        }

        .post_time {
          width: fit-content;
          margin: 8px auto;
          color: var(--label-text);
          font-size: $font-size-xxsm;
          @include lessThan(md) {
            font-size: $font-size-xxxsm;
          }
        }
      }

      .user_head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 0;

        div {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 24px;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            img {
              border-radius: 50%;
            }

            p {
              color: var(--primary-text);
              @include lessThan(md) {
                font-size: $font-size-xsm;
              }
            }
          }
        }
        .share_btn {
          background-color: transparent !important;
          color: var(--label-text) !important;
          span {
            font-size: $font-size-sm;
          }
          @include lessThan(md) {
            svg {
              width: 16px;
              height: 16px;
            }
            span {
              font-size: $font-size-xsm;
            }
          }
        }
      }
    }
  }
}
