.CButton {
  padding: 7px 15px !important;
  background-color: var(--primary) !important;
  border: 0px !important;
  border-radius: 5px !important;
  color: var(--white) !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--primary-hover) !important;
    // color: var(--primary-text) !important;
  }
  &:disabled {
    background-color: var(--primary-disable) !important;
    color: var(--label-text) !important;
    opacity: 0.9;
    cursor: not-allowed !important;
  }
}

.CInput {
  background: transparent !important;
  border: 1px solid var(--primary-border) !important;
  color: var(--primary-text) !important;
  font-size: 18px !important;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  &:focus,
  &:active,
  &:hover,
  &:focus-visible {
    background: transparent !important;
    border: 1px solid var(--primary-text);
    outline: none;
    // outline: 1px solid var(--primary-text);
  }
  &::placeholder {
    color: var(--label-text) !important;
  }

  &::-ms-input-placeholder {
    /* Edge 12-18 */
    color: var(--label-text);
  }
  input {
    &::placeholder {
      color: var(--label-text);
    }

    &::-ms-input-placeholder {
      /* Edge 12-18 */
      color: var(--label-text);
    }
  }
}

.notification_class {
  height: 5rem;
  $border: 1px;
  background-clip: padding-box;
  border-radius: 12px;
  color: var(--pure-black);
  background-color: var(--secondary-bg);
  border-radius: 11px;
  padding: 8px 5px;

  // @media ($mobile) {
  //   .notification_class {
  //     padding: 3px;
  //   }
}

.ant-notification-notice {
  height: fit-content;
}

.markdown_container {
  max-width: 100%;
  word-wrap: break-word;
  overflow-x: hidden;
  // max-height: 70px;
  a {
    color: var(--link-color) !important;

    &:hover {
      color: var(--link-hover-color) !important;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    margin: 8px 0;
  }
  p {
    margin: 4px 0;
  }
  li {
    margin-left: 16px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li,
  p,
  code,
  blockquote {
    color: var(--primary-text);
    line-height: 1.2;
    overflow-wrap: break-word;
  }
  pre {
    padding: 2px 8px;
    width: max-content;
    background-color: var(--tertiary-bg);
    margin: 1rem 0;
  }
  code {
    padding: 2px 8px;
    width: max-content;
    background-color: var(--tertiary-bg);
  }
  blockquote {
    padding: 2px 8px;
    width: fit-content;
    border-left: 2px solid var(--divider);
    background-color: var(--tertiary-bg);
    margin: 1rem 0;
  }
}

.ant-notification-notice-close {
  color: var(--primary-text) !important;
}

.ant-tabs {
  .ant-tabs-nav {
    .ant-tabs-nav-wrap:before {
      position: relative;
    }
    .ant-tabs-nav-list {
      .ant-tabs-tab {
        color: var(--primary);
        background: transparent !important;
        padding: 7px 19px;
        margin-right: 1rem;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid var(--tertiary-border);
        cursor: pointer;
      }
      .ant-tabs-tab-active {
        background: var(--secondary-bg);
        border: 2px solid var(--secondary-bg);
      }
    }
  }
}

//Cfilter

.cfilter_container {
  width: 120px;
  .cfilter {
    // border: 1px solid var(--primary-border);
    color: var(--primary);
    padding: 10px 15px;
    width: 100%;
    border-radius: 12px;
    cursor: pointer;
    padding-right: 25px;
    position: relative;
    background: var(--secondary-bg);
    span {
      text-transform: capitalize;
      font-size: 14px;
    }
    &:hover {
      span {
        color: var(--primary-text);
      }
      svg {
        color: var(--primary-text);
      }
    }
  }
  svg {
    position: absolute;
    right: 5px;
  }
}

.filter_list {
  width: 110px;
  p {
    padding: 5px;
    cursor: pointer;
    color: var(--primary);
    text-transform: capitalize;
    &:hover {
      background: var(--secondary-bg);
    }
  }
}

.filter_popover {
  .ant-popover-content {
    .ant-popover-inner {
      padding: 5px !important;
      background-color: var(--tertiary-bg);
      .ant-popover-inner-content {
        color: var(--primary-text);
      }
    }
  }
  .ant-popover-arrow::before {
    display: none;
  }
}

.cpopup_content {
  min-width: 120px;
  padding: 5px;
  .option {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--primary);
    text-transform: capitalize;
    border-radius: 5px;
    &:hover {
      background: var(--primary-bg);
      color: var(--primary);
      // opacity: 0.8;
    }

    span {
      font-size: 11px;
    }
    svg {
      width: 20px;
    }
  }
}

.view_bx {
  color: var(--primary);
  font-size: 10px;
  margin-top: 5px;
}

// Virtual-List
.virtuoso {
  height: 1100px;
  overflow: auto;
}
