.CButton {
  padding: 7px 15px !important;
  background-color: var(--primary);
  border: 0px;
  border-radius: 5px !important;
  color: var(--primary-text);
  font-weight: 500 !important;
  font-size: 15px !important;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--primary-hover) !important;
    color: var(--primary-text) !important;
  }
  &:disabled {
    background-color: var(--primary-disable) !important;
    color: var(--primary-disable-tx) !important;
  }
}

.CInput {
  background: transparent;
  border: 1px solid var(--primary-border);
  color: var(--primary-text);
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  &:focus,
  &:active,
  &:focus-visible {
    // border: none;
    // outline: 1px solid var(--primary-text);
  }
}

.notification_class {
  height: 5rem;
  $border: 1px;
  background-clip: padding-box;
  border-radius: 12px;
  color: var(--pure-black);
  background-color: var(--secondary-bg);
  border-radius: 11px;
  padding: 8px 5px;

  // @media ($mobile) {
  //   .notification_class {
  //     padding: 3px;
  //   }
}

.ant-notification-notice {
  height: fit-content;
}
