@import "/src/styles";
.userhead_cotainer_loader {
  width: 100%;
  height: 372px;
  position: relative;
  margin-bottom: 24px;
  @include lessThan(md) {
    height: 270px;
  }
  .cover_photo {
    width: 100%;
    height: 220px;
    position: relative;
    border-radius: 0 0 1rem 1rem;
    overflow: hidden;
    z-index: 1;
  }

  .details {
    position: absolute;
    top: 130px;
    left: 4%;
    width: 92%;
    height: 240px;
    z-index: 2;
    background-color: var(--primary-bg);
    border-radius: 0.75rem;

    @include lessThan(md) {
      width: 96%;
      left: 2%;
      top: 88px;
      height: 185px;
    }
    .detailed_data {
      height: 128px;
      border-bottom: 1px solid var(--primary-border);
      display: flex;
      justify-content: center;
      align-items: center;
      @include lessThan(md) {
        height: 85px;
      }
      .box {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0.75rem;
      }

      .user {
        flex: 0.7 1;
        justify-content: flex-start;
        margin-left: 1rem;
        .avatar {
          width: 80px;
          height: 72px;
          margin-right: 1rem;
          border-radius: 0.5rem;

          @include lessThan(md) {
            width: 45px;
            height: 45px;
          }
        }

        .user_name {
          height: 48px;
          @include lessThan(lg) {
            min-height: 15px;
          }
          .socials {
            // width: 120px;
            height: 28px;
            padding: 0px 0.75rem 0.75rem 0rem;
            // margin-left: auto;
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: flex-end;
            align-items: center;
            cursor: pointer;
            margin-top: 11px;
            @include lessThan(md) {
              gap: 10px;
              margin-top: 5px;
            }

            .logo {
              width: 20px;
              // height: 16px;
              @include lessThan(xl) {
                min-height: 15px;
              }
            }
          }
          h4,
          p {
            width: 80px !important;
            height: 16px !important;
            @include lessThan(xl) {
              width: 30px !important;
              min-height: 15px;
            }
          }
          h4 {
            margin-bottom: 8px;
            // @include lessThan(md) {
            //   font-size: $font-size-sm;
            // }
          }
        }
      }

      .stats {
        flex: 0.2;
        border-left: 1px solid var(--primary-border);
        flex-direction: column;

        h4,
        p {
          width: 72px;
          height: 16px;
          @include lessThan(xl) {
            width: 30px !important;
          }
        }

        p {
          margin-bottom: 8px;
        }
      }
    }

    .activity {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 12px 20px 0px 25px;
      height: 86px;

      p {
        width: 100%;
        height: 16px;
        margin-right: 16px;
        margin-bottom: 8px;
      }

      button {
        // background: var(--tertiary-bg) !important;
        // color: var(--primary) !important;
        // font-size: 14px !important;
        width: 72px;
        height: 32px;
      }
    }
    .social_bx {
      text-align: end;
      p {
        width: 100%;
        height: 16px;
      }
    }
  }
}

//page loader
.loader_container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: transparent;
}
.loader3 {
  display: flex;
  justify-content: center;
  align-items: center;

  .circle1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: var(--tertiary-bg);
    animation: circle1 1s ease-in-out infinite;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
    &:nth-child(4) {
      animation-delay: 0.6s;
    }
    &:nth-child(5) {
      animation-delay: 0.8s;
    }
  }
}

@keyframes circle1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.feedpostloader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  width: 100%;
  padding: 25px 30px;
  height: max-content;
  border-radius: 10px;
  background-color: var(--secondary-bg);
  margin-top: 2rem;
  @include lessThan(sm) {
    height: 250px;
  }
  @include lessThan(md) {
    height: 350px;
  }

  .user_head {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    margin-bottom: 8px;
    height: 46px;
    .img {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      @include lessThan(md) {
        width: 35px;
        height: 35px;
      }
    }
    .post_time {
      width: 100px;
    }
  }
  div {
    &:nth-child(3) {
      height: 400px;
    }
  }
  .content {
    margin-left: 54px;
    width: 90%;
    @include lessThan(lg) {
      // margin-left: 43px;
    }
  }
}

.feedpost_container {
  width: 100%;
  padding: 24px 20px;
  height: max-content;
  border-radius: 8px;
  background-color: var(--secondary-bg);
  margin: 1.5rem 0 0;
  color: var(--primary-text);
  box-sizing: border-box;

  .user_head {
    display: flex;
    // align-items: center;
    gap: 8px;
    flex-direction: row;
    margin-bottom: 8px;
    height: 56px;
    .user_avatar {
      border-radius: 50%;
      width: 48px;
      height: 48px;
      @include lessThan(md) {
        width: 35px;
        height: 35px;
      }
    }
    .names {
      display: flex;
      flex-direction: column;
      width: 120px;
      @include lessThan(md) {
        width: 80px;
      }
      .user_name {
      }
      .community_name {
        margin-top: 5px;
      }
    }
    .post_time {
      width: 52px;
      height: 20px;
      @include lessThan(md) {
        width: 40px;
      }
    }
    .more {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .options {
        width: 50px;
        @include lessThan(md) {
          width: 30px;
        }
      }
      .views {
        display: flex;
        align-items: center;
        gap: 5px;
        span {
          width: 50px;
          @include lessThan(md) {
            width: 30px;
          }
        }
      }
    }
  }
  div {
    &:nth-child(3) {
      height: 400px;
    }
  }
  .content {
    margin-left: 54px;
    margin-top: 10px;
    width: 92%;
    @include lessThan(xl) {
      margin-left: 0px;
      width: 100%;
    }
  }
}

.post_page_loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  width: 100%;
  padding: 10px;

  div {
    border-radius: 4px;
    &:nth-child(1) {
      height: 36px;
    }
    &:nth-child(2) {
      height: 400px;
    }
    &:nth-child(3) {
      height: 36px;
    }
  }
}

.comment_loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;
  width: 100%;
  border-top: 1px solid var(--primary-border);
  padding: 10px;
  margin: 16px 0 16px 30px;

  div {
    border-radius: 4px;
    &:nth-child(1) {
      width: 200px;
      height: 32px;
    }
    &:nth-child(2) {
      height: 134px;
    }
    &:nth-child(3) {
      height: 32px;
    }
  }
}

.profilelist_loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .profile {
    display: flex;
    justify-content: start;
    align-items: center;
    .img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }
    .content {
      width: 200px;
      height: 20px;
    }
  }
}

.img_u {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  /* background: var(--secondary-bg); */
  margin-left: 2rem;
}
.img_p {
  width: 100%;
  height: 100%;
}

.follower_List_Loader {
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-bottom: 1px solid var(--primary-border);

  .img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .name,
  .username {
    width: 72px;
  }
}
