.userhead_cotainer_loader {
  width: 100%;

  border: 1px solid var(--secondary-bg);
  border-radius: 10px;
  margin: 20px 0px;
  .info {
    display: flex;
    border-radius: 10px 10px 0px 0px;
    justify-content: space-between;
    align-content: center;
    height: 50px;
    align-items: center;
    background-color: var(--secondary-bg);
    position: relative;
    padding: 10px;

    div {
      display: flex;

      flex-direction: column;
      width: 50%;
      gap: 2px;
      margin-left: 100px;
      .img {
        width: 80px;
        height: 80px;
        background-color: var(--secondary-bg);
        border-radius: 50%;
        margin: 0px 20px;
        margin-right: 0px;
        left: -5px;
        top: -15px;
        position: absolute;
        padding: 10px;
      }

      h4 {
        color: var(--primary-text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
      }

      span {
        margin-top: 2px;
        font-size: 12px;
        color: var(--label-text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .btn {
      width: 50px;
    }
  }

  .content {
    padding: 20px;
    .statics {
      display: flex;
      gap: 20px;
      margin: 10px;
      div {
        text-align: center;
        width: 100px;
        span {
          font-size: 12px;
          color: var(--label-text);
        }
        h4 {
          font-size: 15px;
        }
      }
    }
    .overview {
      p {
        font-size: 15px;
      }
    }
  }
}

//page loader
.loader_container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
}
.loader3 {
  display: flex;
  justify-content: center;
  align-items: center;

  .circle1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: var(--secondary-bg);
    animation: circle1 1s ease-in-out infinite;

    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
    &:nth-child(4) {
      animation-delay: 0.6s;
    }
    &:nth-child(5) {
      animation-delay: 0.8s;
    }
  }
}

@keyframes circle1 {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.feedpostloader {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 500px;
  width: 100%;
  border-top: 1px solid var(--primary-border);
  padding: 10px;
  div {
    &:nth-child(1) {
      width: 200px;
    }
    &:nth-child(3) {
      height: 400px;
    }
  }
}
