@import "/src/styles";

.rightpanel_container {
  // width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  flex: 1;
  right: 0px;
  padding: 10px;
  padding: 10px 0px 0px 10px;
  @include lg {
    display: none;
  }

  .card_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--devider);
    padding: 10px 0px;
    h2 {
      color: var(--white);
    }
    span {
      color: var(--primary);
      font-size: $font-size-sm;
      display: flex;
      gap: 5px;
      align-items: center;
    }
    .community_bx {
      display: flex;
      align-items: center;
      padding-left: 20px;
      gap: 0.7rem;
      img {
        width: 50px;
        border-radius: 50%;
      }
      span {
        color: var(--white);
        vertical-align: middle;
        .comm_icon {
          background-color: var(--secondary-bg);
          padding: 5px;
        }
      }
    }
  }
  .post_heading {
    border-bottom: 1px solid var(--devider);
    padding: 20px 0px;
    h2 {
      color: var(--white);
    }
    span {
      color: var(--primary);
      font-size: $font-size-sm;
      display: flex;
      gap: 5px;
      align-items: center;
    }
    .post_bx {
      display: flex;
      align-items: center;
      gap: 0.7rem;
      .username {
        font-size: $font-size-xsm;
      }
      .community {
        font-size: $font-size-xxsm;
      }
      img {
        width: 25px;
        border-radius: 50%;
      }
      span {
        color: var(--white);
        vertical-align: middle;
      }
      .comm_icon {
        color: var(--white);
      }
    }
    .post_content_bx {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .post_inn_bx {
        padding: 10px;
        img {
          width: 100px;
          height: 80px;
          border-radius: $base-border-radius-md;
        }
      }
      p {
        color: var(--white);
        font-size: $font-size-xsm;
        max-height: 100px;
      }
      .post_comment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        span {
          font-size: 8px;
        }
      }
    }
  }
}

.createCommunity {
  background-color: var(--secondary-bg);
  padding: 15px;
  border-radius: 10px;

  display: flex;
  gap: 20px;
  flex-direction: column;
  button {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid var(--primary-text);
    color: var(--primary-text);
  }
  p {
    color: var(--primary-text);
    font-size: 13px;
  }
}

.recentposts {
  background: var(--secondary-bg);
  padding: 5px;
  border-radius: 10px;
  border: 1px solid var(--primary-border);
  .title {
    font-size: 12px;
    color: var(--label-text);
  }

  .post {
    padding: 5px;
    background: var(--primary-bg);
    border: 1px solid var(--primary-border);
    border-radius: 5px;
    margin: 5px 0px;
    transition: transform ease-in-out 0.2s;
    &:hover {
      transform: scale(1.05);
    }
    .header {
      display: flex;
      gap: 5px;
      div {
        display: flex;
        align-items: center;

        flex-direction: column;
        span {
          font-size: 12px;
          color: var(--primary-text);
        }
        .community {
          color: var(--label-text);
        }
      }
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .content {
      height: 50px;
      overflow: hidden;
      p {
        font-size: 12px;
        padding: 5px;
        width: 100%;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .container {
      display: flex;
      justify-content: space-between;

      .postmedia {
        display: grid;
        place-content: center;
        img {
          width: 50px;
          height: 100%;
          object-fit: contain;
          border-radius: 5px;
          border: 1px solid var(--primary-border);
        }
      }
    }
  }
}
