@import "/src/styles";
.followers_containers {
  padding: 10px;
  .user {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid var(--primary-border);
    cursor: pointer;
    &:hover {
      background-color: var(--secondary-bg);
    }
    img {
      border-radius: 50%;
      object-fit: cover;
    }
    .name {
      color: var(--primary-text);
      font-size: 18px;
    }
    .username {
      color: var(--label-text);
      font-size: 12px;
    }
  }
  @include lessThan(md) {
    padding: 2px;
    .user {
      .name {
        font-size: $font-size-sm;
      }
      .username {
        font-size: $font-size-xsm;
      }
    }
  }
}
